<p>Hey {{user.name}},</p>
<p>Please click below to reset your password.</p>
<a href='{{url}}'>
  Here is the password change link.
</a>

<p>If you did not request this email you can safely ignore it.</p>

<small>Tipstory Backend Team 🚀</small>